body {
  -webkit-user-select:       none;
  background-color: rgb(35,35,35);
  -moz-user-select:          none;
  -ms-user-select:           none;
  user-select:               none;
  font-family:             Futura;
}

.left {
  background-color: rgb(35,35,35);
  text-align:              center;
  font-size:                 24px;
  position:              absolute;
  z-index:                      1;
  height:                    100%;
  color:           rgb(213,180,2);
  width:                    230px;
  float:                     left;
  left:                         0;
  top:                          0;
}

.right {
  background-color: rgb(35,35,35);
  text-align:              center;
  font-size:                 24px;
  position:              absolute;
  z-index:                      1;
  height:                    100%;
  color:           rgb(213,180,2);
  width:                    230px;
  float:                    right;
  right:                        0;
  top:                          0;
}

h1 {
  text-align: center;
  font-size:    56px;
  color:     #7f2525;
}

.board {
  width:   468px;
  height:  468px;
  margin: 0 auto;

}

.innerbox {
  background-color: rgb(213,180,2);
  border-radius:              10px;
  line-height:               125px;
  text-align:               center;
  font-size:                 100px;
  height:                    150px;
  margin:                      3px;
  cursor:                  pointer;
  color:               transparent;
  float:                      left;
  width:                     150px;
  -webkit-transition: all 900ms cubic-bezier(0.680, -0.950, 0.265, 1.950);
  -moz-transition: all 900ms cubic-bezier(0.680, -0.950, 0.265, 1.950);
  -o-transition: all 900ms cubic-bezier(0.680, -0.950, 0.265, 1.950);
  transition: all 900ms cubic-bezier(0.680, -0.950, 0.265, 1.950);
}

.innerbox:hover {
  background-color: #7f766a;
   -webkit-transform: rotateX(-360deg);
  -webkit-transition-timing-function: cubic-bezier(0.680, -0.950, 0.265, 1.950);
  -moz-transition-timing-function: cubic-bezier(0.680, -0.950, 0.265, 1.950); 
  -o-transition-timing-function: cubic-bezier(0.680, -0.950, 0.265, 1.950); 
  transition-timing-function: cubic-bezier(0.680, -0.950, 0.265, 1.950);
}


.clear {
  clear: both;
}

#left_message, #right_message {
  color:       rgb(213,180,2);
  margin-top:           400px;
}

#p1_name:hover, #p2_name:hover {
  cursor: pointer;
  color:  #956e6e;
  -webkit-transform: rotateX(-360deg);
  -webkit-transition-timing-function: cubic-bezier(0.680, -0.950, 0.265, 1.950);
  -moz-transition-timing-function: cubic-bezier(0.680, -0.950, 0.265, 1.950); 
  -o-transition-timing-function: cubic-bezier(0.680, -0.950, 0.265, 1.950); 
  transition-timing-function: cubic-bezier(0.680, -0.950, 0.265, 1.950);
}

#p1_name, #p2_name {
  background-color: #7f2525;
  border-radius:       15px;
  font-family:    Helvetica;
  text-align:        center;
  font-size:           24px;
  border:              none;
  color:     rgb(213,180,2);
  width:              140px;
  -webkit-transition: all 1300ms cubic-bezier(0.680, -0.950, 0.265, 1.950);
  -moz-transition: all 1300ms cubic-bezier(0.680, -0.950, 0.265, 1.950);
  -o-transition: all 1300ms cubic-bezier(0.680, -0.950, 0.265, 1.950);
  transition: all 1300ms cubic-bezier(0.680, -0.950, 0.265, 1.950);
}

input:focus {
  outline: 0;
}

.reset {
  background-color: #7f2525;
  border-radius:        8px;
  line-height:         35px;
  text-align:        center;
  margin:    450px auto 0px;
  height:              35px;
  color:            #c4b6a4;
  width:              250px;
  float:              clear;
}
.reset:hover {
  background-color: #7e3f3f;
  cursor:           pointer;
  color:            #aca090;
}
#tttlogo {
  margin-right: 10px;
  display:     block;
  margin:     0 auto;
  width:       400px;
}
.player1 {
  background: url('../Animation/img/tttx.png') no-repeat center;
  color: transparent!important;
  background-color: rgba(255,0,0,0.3);
}
.player2 {
  background: url('../Animation/img/ttto.png') no-repeat center;
  color: transparent!important;
  background-color: rgba(0,255,0, 0.7);
}
#messagesDiv {
  background-color:  rgb(35,35,35);
  margin-bottom:               5px;
  text-align:                 left;
  overflow:                 hidden;
  padding:                    10px;
  border:           8px solid grey;
  height:                    190px;
  width:                  relative;
  color:            rgb(213,180,2);
}

#nameInput {
  background-color: rgb(35,35,35);
  border:                    none;
  color:           rgb(213,180,2);
  width:                      26%;
}

#messageInput {
  background-color: rgb(35,35,35);
  border:                    none;
  color:           rgb(213,180,2);
  width:                      68%;
}
#nameInput:hover, #messageInput:hover, #nameInput:focus, #messageInput:focus{
  border: 1px solid rgb(213,180,2);
}

.innerbox > div:first-child  {
-webkit-transform: rotateX(90deg) translateZ(200px);
-moz-transform: rotateX(90deg) translateZ(200px);
}

.innerbox > div:nth-child(2) {
-webkit-transform: translateZ(200px);
-moz-transform: translateZ(200px);
}

.innerbox > div:nth-child(3) {
-webkit-transform: rotateY(90deg) translateZ(200px);
-moz-transform: rotateY(90deg) translateZ(200px);
text-align: center;
}

.innerbox > div:nth-child(4) {
-webkit-transform: rotateY(180deg) translateZ(200px);
-moz-transform: rotateY(180deg) translateZ(200px);
}

.innerbox > div:nth-child(5) {
-webkit-transform: rotateY(-90deg) translateZ(200px);
-moz-transform: rotateY(-90deg) translateZ(200px);
}

.innerbox > div:nth-child(6) {
-webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
-moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

