.box {
  min-width: 200px;
  min-height: 200px;
  background-color: green;
  border: solid 1px white;
  display: inline-block;
  font: 90px sans-serif;
  text-align: center;
  vertical-align: center;
  clear: bottom;
  margin: 0 auto;
  float: left;
}
.mainContainer {
  margin: 0 auto;
  max-width: 620px;
  min-width: 620px;
}



