h2 {
    margin-top: 0;
}

.viewport {
    -webkit-perspective-origin:   50% 200px;
    -moz-perspective-origin:      50% 200px;
    -webkit-perspective:              800px;
    perspective-origin:           50% 200px;
    -webkit-transform:     scale(0.75,0.75);
    -moz-perspective:                 800px;
    -moz-transform:        scale(0.75,0.75);
    perspective:                      800px;
    transform:             scale(0.75,0.75);
    z-index:                              1;
}

.cube {
    position:     relative;
    z-index:             1;
    margin:   0 auto 100px;
    height:          468px;
    width:           468px;
    -webkit-transform:      rotateX(-30deg) rotateY (30deg);
    -moz-transform:          rotateX(-30deg) rotateY(30deg);
    transform:               rotateX(-30deg) rotateY(30deg);
    -webkit-transition:       -webkit-transform 50ms linear;
    -moz-transition:             -moz-transform 50ms linear;
    transition:                       transform 50ms linear;
    -webkit-transform-style:                    preserve-3d;
    -moz-transform-style:                       preserve-3d;
    transform-style:                            preserve-3d;
}

.cube h2 {
    padding-top:     0;
    margin-top:      0;
    z-index:         1;
    color:        #fff;
}

.cube a {
    color:   #fff;
    z-index:    1;
}

.cube > div {
    position:      absolute;
    z-index:              1;
    height:           500px;
    width:            500px;
    padding:           20px;
    background-color: black;
    font-size:          1em;
    line-height:        1em;
    color:             #fff;
    border:  1px solid #555;
    border-radius:      3px;
}

.cube > div:first-child  {
    z-index: 1;
    -webkit-transform: rotateX(90deg) translateZ(268px);
    -moz-transform: rotateX(90deg) translateZ(268px);
    transform: rotateX(90deg) translateZ(268px);
}

.cube > div:nth-child(2) {
    z-index: 1;
    -webkit-transform: translateZ(268px);
    -moz-transform: translateZ(268px);
    transform: translateZ(268px);
}

.cube > div:nth-child(3) {
    z-index: 1;
    -webkit-transform: rotateY(90deg) translateZ(268px);
    -moz-transform: rotateY(90deg) translateZ(268px);
    transform: rotateY(90deg) translateZ(268px);
    text-align: center;
}

.cube > div:nth-child(4) {
    z-index: 1;
    -webkit-transform: rotateY(180deg) translateZ(268px);
    -moz-transform: rotateY(180deg) translateZ(268px);
    transform: rotateY(180deg) translateZ(268px);
}

.cube > div:nth-child(5) {
    z-index: 1;
    -webkit-transform: rotateY(-90deg) translateZ(268px);
    -moz-transform: rotateY(-90deg) translateZ(268px);
    transform: rotateY(-90deg) translateZ(268px);
}

.cube > div:nth-child(5) p {
    z-index: 1;
    text-align: center;
    font-size: 2.77em;
    margin: 40px;
    line-height: 60px;
}

.cube > div:nth-child(6) {
    z-index: 1;
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(268px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(268px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(268px);
}

object {
    z-index: 1;
    opacity: 0.5;
}

object:hover {
    z-index: 1;
    opacity: 1;
}
