<!DOCTYPE html>
<html x-ng-app="TicTacApp">
  <head>
    <title>Tic-Tac-ToyStory Game Animation</title>
    <meta property="og:image" content="css/images/3dcube3.png" />
    <meta name="author" content="Jared Cowan" />
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/touch.css" />
    <link href='https://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="js/angular.js"></script>
    <script src="main.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
  </head>
  <body x-ng-controller="TicTacController">
    <div class="left" id="leftDiv">
      <br/><br/>
      <div id="p1turn" x-ng-show="turn1"></div>
      <p><input type="text" id="p1_name" x-ng-model="player1Name" x-ng-init="player1Name = 'Player 1'" x-ng-click="setName1(player1Name)" x-ng-keyup="removeFocus1($event)" Placeholder="Player 1"/>
      </p>
      <p> 
      <br /><br />
      <p id="p1_score">Wins: {{ leftScore }} <br/>Moves: {{ p1moves }}<br/> <span id="left_message">{{ leftMessage }}<br/></span> 
      <div class="reset" x-ng-show="showbtn" x-ng-click="clearBoard()"> New Game </div>
      </p>
      </p>
    </div>
    <div class="right" id="rightDiv">
      <br /><br />
      <div id="p2turn" x-ng-show="turn2"></div>
      <p><input type="text" id="p2_name" x-ng-model="player2Name" ng-init="player2Name = 'Player 2'" x-ng-click="setName2(player2Name)" x-ng-keyup="removeFocus2($event)" placeholder="Player 2"/>
      </p>
      <br /><br />
      <p> 
      <p id="p2_score">Wins:  {{ rightScore }} <br/>Moves: {{ p2moves }}<br/>  <span id="right_message">{{ rightMessage }}<br/></span>
      <div class="reset" x-ng-show="showbtn" x-ng-click="clearBoard()"> New Game </div> 
      </p>
    </div>
    <center>
  <article id="tttlogo">Tic-Tac-ToyStory</article><br />
  </center>
    <article class="viewport">
    <section class="cube">
      <div class="board two">
        <div class="innerbox" id="test" x-ng-repeat="cell in cells track by $index" x-ng-click="drawMark($index);" x-ng-class="{'player1':cells[$index] == 'x', 'player2':cells[$index] == 'o'}">
          {{cell}}
        </div>
      </div>
      <div class="board">
        <div class="innerbox" x-ng-repeat="cell in cells track by $index" x-ng-click="drawMark($index);" x-ng-class="{'player1':cells[$index] == 'x', 'player2':cells[$index] == 'o'}">
          {{cell}}
        </div>
      </div>
      <div class="board">
        <div class="innerbox" x-ng-repeat="cell in cells track by $index" x-ng-click="drawMark($index);" x-ng-class="{'player1':cells[$index] == 'x', 'player2':cells[$index] == 'o'}">
          {{cell}}
        </div>
      </div>
      <div class="board">
        <div class="innerbox" x-ng-repeat="cell in cells track by $index" x-x-ng-click="drawMark($index);" x-ng-class="{'player1':cells[$index] == 'x', 'player2':cells[$index] == 'o'}">
          {{cell}}
        </div>
      </div>
      <div class="board">
        <div class="innerbox" x-ng-repeat="cell in cells track by $index" x-ng-click="drawMark($index);" x-ng-class="{'player1':cells[$index] == 'x', 'player2':cells[$index] == 'o'}">
          {{cell}}
        </div>
      </div>
      <div class="board">
        <div class="innerbox" x-ng-repeat="cell in cells track by $index" x-ng-click="drawMark($index);" x-ng-class="{'player1':cells[$index] == 'x', 'player2':cells[$index] == 'o'}">
          {{cell}}
        </div>
      </div>
    </section>
  </article>
  <script src="js/touch.js"></script>
</body>
</html>