/*===============================*/
/* Body BackGround IMG Animation */
/*===============================*/

body {
	-webkit-animation: bg-move 8s 5s ease-in-out forwards;
}
.play {
	-webkit-animation: play-move 4s 13s ease-in-out forwards;
}
.menuplay {
	-webkit-animation: menuplay-move 4s 13s ease-in-out forwards,
}

/*==============================*/
/* Start Each CHR Name Animation*/
/*==============================*/

/* Letter  B */
.b {
	-webkit-animation: b-move 6s 11s ease-in-out forwards,
	                   b-float 2.0s infinite;
}
/* Letter  Y */
.y {
	-webkit-animation: y-move 6s 11s ease-in-out forwards,
	                   y-float 2.6s infinite;
}
/* Letter  COL: */
.col {
	-webkit-animation: col-move 6s 11s ease-in-out forwards,
	                   col-float 1.6s infinite;
}
/* Letter  J */
.j {
	-webkit-animation: j-move 6s 11s ease-in-out forwards,
	                   j-float 2.6s infinite;
}
/* Letter  A */
.a {
	-webkit-animation: a-move 6s 11s ease-in-out forwards,
	                   a-float 2.6s infinite;
}
/* Letter  R */
.r {
	-webkit-animation: r-move 6s 11s ease-in-out forwards,
	                   r-float 2.6s infinite;
}
/* Letter  E */
.e {
	-webkit-animation: e-move 6s 11s ease-in-out forwards,
	                   e-float 2.6s infinite;
}
/* Letter  D */
.d {
	-webkit-animation: d-move 6s 11s ease-in-out forwards,
	                   d-float 2.6s infinite;
}
/* Letter  C */
.c {
	-webkit-animation: c-move 6s 11s ease-in-out forwards,
	                   c-float 2.6s infinite;
}
/* Letter  O */
.o {
	-webkit-animation: o-move 6s 11s ease-in-out forwards,
	                   o-float 2.6s infinite;
}
/* Letter  W */
.w {
	-webkit-animation: w-move 6s 11s ease-in-out forwards,
	                   w-float 2.6s infinite;
}
/* Letter  A2 */
.a2 {
	-webkit-animation: a2-move 6s 11s ease-in-out forwards,
	                   a2-float 2.6s infinite;
}
/* Letter  N */
.n {
	-webkit-animation: n-move 6s 11s ease-in-out forwards,
	                   n-float 2.6s infinite;
}

/*========== END LETTER ANIMATION =================*/


/*==============================*/
/*     Background Keyframes     */
/*==============================*/

@-webkit-keyframes bg-move {
	0%     { background-position: -350%  1200px; }
	100%   { background-position:  290% -510px; }
}
@-webkit-keyframes play-move {
	100% { left: 32.5%; }
}
@-webkit-keyframes menuplay-move {
	100% { left: 32.5%; }
}
@-webkit-keyframes play-float {
	50% { -webkit-transform: scale(0, 0); }
}

/*===============================*/
/*    Start Each CHR keyframe    */
/*===============================*/

@-webkit-keyframes menuplay-move {
	100% { left: 3%; }
}
@-webkit-keyframes menuplay-float {
	50% { -webkit-transform: rotateZ(5deg) translateY(-5px); }
}

/* Letter  B */

@-webkit-keyframes b-move {
	100% { left: 3%; }
}
@-webkit-keyframes b-float {
	50% { -webkit-transform: rotateZ(5deg) translateY(-5px); }
}
/* Letter  Y */

@-webkit-keyframes y-move {
	100% { left: 11%; }
}
@-webkit-keyframes y-float {
	50% { -webkit-transform: translate(-12%, -18%) rotateZ(5deg) translateY(-5px); }
}
/* Letter  COL: */

@-webkit-keyframes col-move {
	100% { left: 19%; }
}
@-webkit-keyframes col-float {
	50% { -webkit-transform: rotateZ(5deg) translateY(-5px); }
}
/* Letter  J */

@-webkit-keyframes j-move {
	100% { left: 22%; }
}
@-webkit-keyframes j-float {
	50% { -webkit-transform: translate(-12%, -15%) rotateZ(5deg) translateY(-5px); }
}
/* Letter  A */

@-webkit-keyframes a-move {
	100% { left: 29%; }
}
@-webkit-keyframes a-float {
	50% { -webkit-transform: rotateZ(-14deg) translateY(-7px); }
}
/* Letter  R */

@-webkit-keyframes r-move {
	100% { left: 36%; }
}
@-webkit-keyframes r-float {
	50% { -webkit-transform: rotateZ(5deg) translateY(-5px); }
}
/* Letter  E */

@-webkit-keyframes e-move {
	100% { left: 43%; }
}
@-webkit-keyframes e-float {
	50% { -webkit-transform: rotateZ(-14deg) translateY(-4px); }
}
/* Letter  D */

@-webkit-keyframes d-move {
	100% { left: 50%; }
}
@-webkit-keyframes d-float {
	50% { -webkit-transform: translate(-12%, -15%) rotateZ(5deg) translateY(-5px); }
}
/* Letter  C */

@-webkit-keyframes c-move {
	100% { left: 57%; }
}
@-webkit-keyframes c-float {
	50% { -webkit-transform: rotateZ(-14deg) translateY(-4px); }
}
/* Letter  O */

@-webkit-keyframes o-move {
	100% { left: 64%; }
}
@-webkit-keyframes o-float {
	50% { -webkit-transform: rotateZ(5deg) translateY(-5px); }
}
/* Letter  W */

@-webkit-keyframes w-move {
	100% { left: 71%; }
}
@-webkit-keyframes w-float {
	50% { -webkit-transform: rotateZ(-14deg) translateY(-4px); }
}
/* Letter  A2 */

@-webkit-keyframes a2-move {
	100% { left: 78%; }
}
@-webkit-keyframes a2-float {
	50% { -webkit-transform: rotateZ(5deg) translateY(-5px); }
}
/* Letter  N */

@-webkit-keyframes n-move {
	100% { left: 85%; }
}
@-webkit-keyframes n-float {
	50% { -webkit-transform: rotateZ(-14deg) translateY(-4px); }
}
/*========== END LETTER KEYFRAME =================*/