/* Body BackGround IMG Animation */

body {
<<<<<<< HEAD
  background: rgb(35,35,35) url('img/bigbg.png') repeat-x 100% 1000px;
  background-size: 1100px;
=======
	background: rgb(35,35,35) url('img/bigbg.png') repeat-x 100% 1000px;
	background-size: 1100px;
>>>>>>> angular-version
}

/*==============================*/
/* Start Each CHR Name Style    */
/*==============================*/

.col {
	width: 50px!important;
}

.col, .b, .y, .j, .a, .r, .e, .d, .c, .o, .w, .a, .n {
	-webkit-transform: rotateZ(-5deg);
}

img {
	width:       120px;
	height:      100px;
	position: absolute;
	top:           80%;
	left:         -15%;
}

.play {
  width: 550px;
  height: 90px;
  position: absolute;
}
.oneplayer {
  top:    30%;
  left: -100%;
}
.twoplayer {
  top:    50%;
  left: -100%;
}

