
/* Body BackGround IMG Animation */

body {
	background: rgb(35,35,35) url('img/bigbg.png') repeat-x 100% 800px;
	background-size: 1100px;
}

/*==============================*/
/* Start Each CHR Name Style    */
/*==============================*/

.col {
	width: 50px!important;
}
.col,
.b,
.y,
.j,
.a,
.r,
.e,
.d,
.c,
.o,
.w,
.a,
.n {
	-webkit-transform: rotateZ(-5deg);
}

img {
	width: 120px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: -15%;
}


